name: Pip 21.0.1
on:
  push:
    paths:
    - '**.py'
    - '**/pippel-test-21.0.1.yml'
  pull_request:
    paths:
    - '**.py'
    - '**/pippel-test-21.0.1.yml'
  workflow_dispatch:
jobs:
  test-py3-6:
    needs:
    - test-badge-py3-6
    if: success()
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-20.04
        - ubuntu-18.04
        - macos-10.15
        - windows-2019
        - windows-2016
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        python -m pip install "pip==21.0.1"
        python -m pip install pytest
        python -m pip install typing
    - name: Run PyTest
      run: pytest test.py
  test-py3-7:
    needs:
    - test-badge-py3-7
    if: success()
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-20.04
        - ubuntu-18.04
        - macos-10.15
        - windows-2019
        - windows-2016
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install "pip==21.0.1"
        python -m pip install pytest
        python -m pip install typing
    - name: Run PyTest
      run: pytest test.py
  test-py3-8:
    needs:
    - test-badge-py3-8
    if: success()
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-20.04
        - ubuntu-18.04
        - macos-10.15
        - windows-2019
        - windows-2016
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install "pip==21.0.1"
        python -m pip install pytest
        python -m pip install typing
    - name: Run PyTest
      run: pytest test.py
  test-py3-9:
    needs:
    - test-badge-py3-9
    if: success()
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-20.04
        - ubuntu-18.04
        - macos-10.15
        - windows-2019
        - windows-2016
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install "pip==21.0.1"
        python -m pip install pytest
        python -m pip install typing
    - name: Run PyTest
      run: pytest test.py
  success-badge-py3-6:
    needs:
    - test-py3-6
    if: success()
    runs-on: ubuntu-latest
    steps:
    - name: Create a success badge
      uses: schneegans/dynamic-badges-action@master
      with:
        auth: ${{ secrets.GIST_SECRET }}
        gistID: 5e6692f6ca81036a08de7dfe01d20576
        filename: 3.6_21.0.1.json
        label: 3.6
        message: Pass
        color: success
  success-badge-py3-7:
    needs:
    - test-py3-7
    if: success()
    runs-on: ubuntu-latest
    steps:
    - name: Create a success badge
      uses: schneegans/dynamic-badges-action@master
      with:
        auth: ${{ secrets.GIST_SECRET }}
        gistID: 5e6692f6ca81036a08de7dfe01d20576
        filename: 3.7_21.0.1.json
        label: 3.7
        message: Pass
        color: success
  success-badge-py3-8:
    needs:
    - test-py3-8
    if: success()
    runs-on: ubuntu-latest
    steps:
    - name: Create a success badge
      uses: schneegans/dynamic-badges-action@master
      with:
        auth: ${{ secrets.GIST_SECRET }}
        gistID: 5e6692f6ca81036a08de7dfe01d20576
        filename: 3.8_21.0.1.json
        label: 3.8
        message: Pass
        color: success
  success-badge-py3-9:
    needs:
    - test-py3-9
    if: success()
    runs-on: ubuntu-latest
    steps:
    - name: Create a success badge
      uses: schneegans/dynamic-badges-action@master
      with:
        auth: ${{ secrets.GIST_SECRET }}
        gistID: 5e6692f6ca81036a08de7dfe01d20576
        filename: 3.9_21.0.1.json
        label: 3.9
        message: Pass
        color: success
  failure-badge-py3-6:
    needs:
    - test-py3-6
    if: failure()
    runs-on: ubuntu-latest
    steps:
    - name: Create a fail badge
      uses: schneegans/dynamic-badges-action@master
      with:
        auth: ${{ secrets.GIST_SECRET }}
        gistID: 5e6692f6ca81036a08de7dfe01d20576
        filename: 3.6_21.0.1.json
        label: 3.6
        message: Fail
        color: critical
  failure-badge-py3-7:
    needs:
    - test-py3-7
    if: failure()
    runs-on: ubuntu-latest
    steps:
    - name: Create a fail badge
      uses: schneegans/dynamic-badges-action@master
      with:
        auth: ${{ secrets.GIST_SECRET }}
        gistID: 5e6692f6ca81036a08de7dfe01d20576
        filename: 3.7_21.0.1.json
        label: 3.7
        message: Fail
        color: critical
  failure-badge-py3-8:
    needs:
    - test-py3-8
    if: failure()
    runs-on: ubuntu-latest
    steps:
    - name: Create a fail badge
      uses: schneegans/dynamic-badges-action@master
      with:
        auth: ${{ secrets.GIST_SECRET }}
        gistID: 5e6692f6ca81036a08de7dfe01d20576
        filename: 3.8_21.0.1.json
        label: 3.8
        message: Fail
        color: critical
  failure-badge-py3-9:
    needs:
    - test-py3-9
    if: failure()
    runs-on: ubuntu-latest
    steps:
    - name: Create a fail badge
      uses: schneegans/dynamic-badges-action@master
      with:
        auth: ${{ secrets.GIST_SECRET }}
        gistID: 5e6692f6ca81036a08de7dfe01d20576
        filename: 3.9_21.0.1.json
        label: 3.9
        message: Fail
        color: critical
