name: Pip 20.0
on:
  push:
    paths:
    - '**.py'
    - '**/pippel-test-*.yml'
  pull_request:
    paths:
    - '**.py'
    - '**/pippel-test-*.yml'
  workflow_dispatch:
jobs:
  badge:
    runs-on: ubuntu-latest
    steps:
    - name: Create a known failure badge
      uses: schneegans/dynamic-badges-action@master
      with:
        auth: ${{ secrets.GIST_SECRET }}
        gistID: 875cacb3f72c102883f9e86cf11b2a40
        filename: ALL_20.0.json
        label: ''
        message: Known failure
        labelColor: critical
        color: critical
        style: flat-square
